@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


.breed {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    color: white;
    display: block;
    font-size: 29px;
    height: 65px;
    width: 120px;
    text-shadow: 0px 0px 2px black;
    /* border: 2px solid; */
    -webkit-text-stroke: 0.1px black;
    
}

.breed:hover {
    text-shadow: 0px 0px 10px orange;
    color: yellow;
    transform: scale(1.2);
}

.catBreeds {
    font-size: 35px;
    font-family: 'Varela Round', sans-serif;
}

.breedId {
    text-decoration: none;
    margin: 50px 20px;
    display: block;
    height: 90px;
    width: 140px;
    padding: 0px 20px;
    /* border: 1px solid blue; */
    
}

.breed2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 2px dashed; */
    /* background-color:black; */
    margin: 20px 20px;
    border-radius: 20px 20px;
    opacity: 0.8;
    /* background: url(https://i.imgur.com/AYTaKY9.jpg); */
    background: url(https://media.istockphoto.com/vectors/set-of-black-cat-icons-vector-id1124670239?k=6&m=1124670239&s=612x612&w=0&h=ryViT97NPXv2iM7CsuJRp4z2GKl3VwpT9N5nj4-bTP8=);
    background-size: 52.5%;
    background-position-x: -5%;
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
}

