/* .footer-main {
    display: flex;
    color:white;
    justify-content: center;
    margin: 0px 20px;
    background-color:#66a3ff; 
    background:
    radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent),
    radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 0 -50px;
    background-color: orangered;
    background-size:75px 100px;
    border-radius: 10px 10px;
    background: url(https://wallpaperaccess.com/full/225026.jpg);
    background-size: 100%;
    background-position-x: 80%;
    background-position-y: center;
    height: 100px;
    box-shadow: 0px 0px 10px blueviolet;
    position: absolute;
    bottom: 0;
    width: 95%;
    height: 100px;
  }

  p {
    text-align: center;
  } */